.content--datavis {
    background-color: #2D3D64;

    h1 {
        color: #CD9575;
        font-size: 6rem;
        line-height: 1.125em;
        margin: 10rem 0;
    }

    main {
        padding: 0 2rem;
        @media (min-width: 850px) {
            padding: 0 4rem;
        }
    }
}

.graph__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.graph__container {
    max-width: 22.5rem;
    margin-right: 3rem;
    margin-bottom: 5rem;
    display: inline-block;

    h2 {
        color: #CD9575;
        font-size: 2rem;
        margin-bottom: 1rem;
        line-height: 1.125em;
    }
}