.intro__container {
    background-color: rgb(243, 243, 243);
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    animation: fadeIntroContainer .3s ease-in 4.25s forwards;

    @keyframes fadeIntroContainer {
        80% {
            opacity: 0;
            visibility: hidden;
        }
        
        100% {
            opacity: 0;
            visibility: hidden;
            display: none;
        }
    }
}

.intro__loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        animation: introScale 3.25s cubic-bezier(.5,.31,.43,1) 2.35s forwards;
        backface-visibility: hidden;
        will-change: transform;
        transform: scale3d(.25, .25, .25);
        transform-origin: center;
        width: 100%;
        height: 100%;
        display: inline-block;
    }

    mask {
        path {
            fill: none;
            stroke: white;
            stroke-width: 550;
            stroke-dasharray: 2000 2000;
            stroke-dashoffset: 2000;

            animation-name: introBrush;
            animation-fill-mode: forwards;

            &.path1 {
            animation-delay: 1s;
            animation-duration: 1.5s;
            animation-timing-function: cubic-bezier(.42,.41,.46,1);
            }

            &.path2 {
            animation-delay: 1.49s;
            animation-duration: 1.55s;
            animation-timing-function: cubic-bezier(.42,.41,.46,1);
            }

            &.path3 {
            stroke-dashoffset: -2000;
            animation-delay: 1.5s;
            animation-duration: 2s;
            animation-timing-function: cubic-bezier(.42,.41,.46,1);
            }

            &.path4 {
                animation-delay: 2s;
                animation-timing-function: cubic-bezier(.42,.41,.01,1);
                animation-duration: 4s;
            }

            &.path5 {
                animation-delay: 3s;
                animation-timing-function: ease-out;
                animation-duration: 2s;
            }
        }
    }
}

@keyframes introBrush {
    100% { 
        stroke-dashoffset: 0; 
    }
}

@keyframes introBrushHighlight {
    100% { 
        transform: rotate(-20deg) translate3D(-500px, 0, 0);
    }
}

@keyframes introScale {
    40% { 
        transform: scale3d(.2, .2, .2);
    }
    
    100% { 
        transform: scale3d(10, 10, 10);
    }
}

