@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  src: local('Spectral Regular'), local('Spectral-Regular'), url('https://fonts.gstatic.com/s/spectral/v5/rnCr-xNNww_2s0amA9M5kng.woff2') format('woff2');
}

@font-face {
  font-family: 'Morion';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Morion.eot');
  src: url('/assets/fonts/Morion.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Spectral', Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  overflow-x: hidden;

  @media (max-width: 700px) {
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  }

  @media (min-width: 1400px) {
    font-size: 20px;
  }

  @media (min-width: 2000px) {
    font-size: 30px;
  }

  @media (min-width: 2500px) {
    font-size: 35px;
  }

  @media (min-width: 3000px) {
    font-size: 40px;
  }

  @media (min-width: 3500px) {
    font-size: 45px;
  }
}

a {
  text-decoration: none;

  svg {
    margin-left: .25rem;
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25rem;
  }
}

h1, h2 {
  font-family: 'Morion', 'Spectral', 'Georgia', serif;
  font-weight: 400;
}

blockquote {
  position: relative;
  display: flex;
  align-items: flex-start;
  max-width: 32.5rem;
  font-size: 1.25rem;
  margin: auto;

  &::before {
    content: '“';
    font-size: 5em;
    vertical-align: text-top;
    display: inline-block;
    padding-right: 1rem;
    margin-top: -2rem;
  }
}

header {
  z-index: 50;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;

  padding: 2rem;

  @media (min-width: 850px) {
    padding: 4rem;
  }

  a {
    color: #fff;
    transition: opacity .23s ease;
    &:hover {
      opacity: .5;
    }

    svg {
      width: 1.25em;
    }
  }
}

.info__modal {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  background-color: rgba(0, 0, 0, .85);

  transition: opacity, visibility;
  transition-timing-function: ease-out;
  transition-duration: .25s;
  transition-delay: .3s;

  .modal__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
  }

  .modal__content {
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -100%, 0);
    background-color: #1f1f1f;
    padding: 2.5rem;
    border-radius: .25rem;
    width: 90%;
    max-width: 40rem;
    margin: auto;
    color: #fff;

    transition: transform, opacity;
    transition-timing-function: ease-out;
    transition-duration: .35s;

    .modal--close {
      position: absolute;
      top: -2rem;
      right: 0;
      opacity: 0;
    }

    p {
      &:not(:first-of-type) {
        margin-top: 2.25rem;
      }

      a {
        transition: all .25s ease;
      }

      a:hover {
        background-color: #bbb;
        color: #fff;
        opacity: 1;
      }
    }
  }

  &:target {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
    transition: opacity .25s ease, visibility .25s ease;

    .modal__content {
      transform: translate3d(-50%, -50%, 0);
      opacity: 1;
      transition: transform, opacity;
      transition-timing-function: ease-out;
      transition-duration: .35s;
      transition-delay: .125s;

      .modal--close {
        opacity: 1;
        transition: opacity .25s ease-out;

        &:hover {
          opacity: .5;
        }
      }
    }
  }
}

.external-link {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-bottom: -.35rem;
  text-decoration: underline;
  transition: color .25s ease, background-color .25s ease;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

footer {
  margin: 1rem;;
  padding: 2rem;
  padding-bottom: 3rem;

  color: #fff;

  border-radius: .125rem;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  p {
    padding-top: 1rem;

    &:nth-child(1), &:nth-child(2)  {
      width: 100%;
    }

    a {
      color: #927E4B;

      &:hover {
        background-color: #927E4B;
      }
    }
  }

  hr {
    width: 100%;
    margin: 2rem 0 1rem 0;
    color: #fff;
    opacity: .1;
  }
}