@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  src: local('Spectral Regular'), local('Spectral-Regular'), url('https://fonts.gstatic.com/s/spectral/v5/rnCr-xNNww_2s0amA9M5kng.woff2') format('woff2');
}

@font-face {
  font-family: 'Morion';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Morion.eot');
  src: url('/assets/fonts/Morion.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Spectral', Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  overflow-x: hidden;

  @media (max-width: 700px) {
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  }

  @media (min-width: 1400px) {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
}

h1, h2 {
  font-family: 'Morion', 'Spectral', 'Georgia', serif;
  font-weight: 400;
}

blockquote {
  position: relative;
  display: flex;
  align-items: flex-start;
  max-width: 32.5rem;
  font-size: 1.25rem;
  margin: auto;

  &::before {
    content: '“';
    font-size: 5em;
    vertical-align: text-top;
    display: inline-block;
    padding-right: 1rem;
    margin-top: -2rem;
  }
}

header {
  z-index: 50;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;

  padding: 1rem;

  a {
    color: #fff;
    transition: opacity .23s ease;
    &:hover {
      opacity: .5;
    }

    svg {
      margin-left: .5rem;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 4px;
    }
  }
}

.external-link {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-bottom: -7px;
  text-decoration: underline;

  &::before {
    content: '';
    display: block;
    position: absolute;
    transform: scale3d(0, 1, 1);
    transform-origin: right center;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: #927E4B;
    z-index: -1;
    transition: transform .5s ease;
  }

  &:hover {
    color: #fff;
    text-decoration: none;

    &::before {
      transform: scale3d(1, 1, 1);
      transform-origin: left center;
    }
  }
}

footer {
  margin: 1rem;;
  padding: 2rem;
  padding-bottom: 3rem;

  color: #fff;

  border-radius: .125rem;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  p {
    padding-top: 1rem;

    &:nth-child(1), &:nth-child(2)  {
      width: 100%;
    }

    a {
      color: #927E4B;

      &:hover {
        color: #927E4B;
      }
    }
  }

  hr {
    width: 100%;
    margin: 2rem 0 1rem 0;
    color: #fff;
    opacity: .1;
  }
}