.content__wrapper--home {
    background-color: #000;
    overflow: hidden;
    animation: fadeMainContent 0s linear 5s forwards;
    max-height: 100vh;
}

@keyframes fadeMainContent {
    100% {
        overflow: visible;
        max-height: 100%;
    }
}

.home__hero {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    position: relative;
    z-index: 0;
    pointer-events: none;

    .hero__title {
        width: 100%;
        height: 100%;
        display: inline-block;

        top: 0;
        position: fixed;

        h1 {
            color: #fff;
            font-size: 12rem;
            letter-spacing: -.035em;
            overflow: hidden;
            transition: transform 0.05s linear;
            width: 200vw;
            position: absolute;
            top: 15%;

            @media (min-width: 750px) {
                font-size: 14rem;
            }

            @media (min-width: 1000px) {
                font-size: 16rem;
            }

            &.title--right {
                text-align: right;
                right: 0;

                span {
                    animation-delay: 5.25s;
                }
            }

            &.title--left {
                margin-top: 14rem;
                position: relative;

                span {
                    animation-delay: 5.5s;
                }
            }

            span {
                white-space: nowrap;
                display: block;
                transform: translate3d(0, 100%, 0);
                opacity: 0;
                animation: titleFade 1.5s ease forwards;
            }
        }
    }
}

@keyframes titleFade {
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.home__content {
    z-index: 1;
    color: #fff;
    font-family: 'Spectral', Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 15rem;
    em {
        color: #A180FF;
        padding-right: .25rem;
    }

    .content__text {
        max-width: 35rem;
        margin: auto;
        margin-top: 30rem;
        font-size: 1.15rem;
        padding: 2rem;
        opacity: 0;
        &.fade-in {
            opacity: 1;
        }
    }

    blockquote {
        margin: 3rem auto 7rem;
        opacity: 0;
        &::before {
            color: #A180FF;
        }
        &.fade-in {
            opacity: 1;
        }
    }

    .text__banner {
        max-width: 35rem;
        background-color: #111;
        padding: 2rem;
        font-size: 1rem;
        border-radius: .25rem;
        margin: auto;
        opacity: .85;

        .external-link {
            z-index: 1;
            color: #A180FF;
            &:hover {
                color: #fff;
                background-color: #A180FF;
            }
        }
    }
}

.nav--home {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 1rem;
    margin-top: 5rem;

    .nav__wrapper {
        font-family: 'Morion', 'Spectral', 'Georgia', serif;
        font-weight: lightest;
        width: 100%;

        @media (min-width: 500px) {
            width: 50%;
            min-height: 15rem;
            font-size: 1rem;
        }

        @media (min-width: 1250px) {
            width: 25%;
            min-height: 22.5rem;
        }

        .nav__item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            height: 100%;
            width: 100%;

            box-shadow: 0 0 1px #fff;
            border: 8px solid transparent;
            padding: 2rem;

            transition: all .4s ease;

            h2 {
                text-shadow: 0 0 1.5px #ddd;
                color: #000;
                font-size: 3.25em;
                font-weight: 400;
                padding-bottom: 1rem;

                margin-top: -10px;

                transition: all .4s ease;
            }

            h3 {
                color: #fff;
                opacity: .5;
                font-size: 2.25em;
                font-weight: 400;

                transition: opacity .4s ease;
            }
        }

        &:hover {
            .nav__item {
                h2 {
                    text-shadow: 0 0 0 #7A7A7A;
                }

                h3 {
                    opacity: 1;
                }
            }

            .nav__item--location {
                border-color: #6E2844;
                background-color: #4E1E31;

                h2 {
                    color: #DCA2A2;
                }
            }

            .nav__item--characters {
                border-color: #0F7064;
                background-color: #05554B;

                h2 {
                    color: #C0C586;
                }
            }

            .nav__item--media {
                border-color: #415A64;
                background-color: #2C3C43;

                h2 {
                    color: #A4D4B2;
                }
            }

            .nav__item--data-vis {
                border-color: #4B6092;
                background-color: #2E3E64;

                h2 {
                    color: #CA9475;
                }
            }
        }
    }
}

.footer--home {
    z-index: 2;
    background-color: rgba(255, 255, 255, .1);
}