header {
    z-index: 50;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    background-color: inherit;
  
    padding: 2rem;

    > a {
      max-width: 25ch;
    }
  
    a:not(.external-link) {
      color: #fff;
      transition: opacity .23s ease;
      &:hover {
        opacity: .5;
      }
  
      svg {
        width: 1.25em;
      }
    }
  }

  .external-link {
    color: rgb(181, 154, 255);

    &:hover {
      &::before {
        background-color: rgb(117, 82, 214);
      }
    }
  }
  
  .info__modal {
    opacity: 0;
    visibility: hidden;
  
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    background-color: rgba(0, 0, 0, .9);
  
    transition: opacity, visibility;
    transition-timing-function: ease-out;
    transition-duration: .25s;
    transition-delay: .3s;
  
    .modal__overlay {
      position: absolute;
  
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
  
      width: 100vw;
      height: 100vh;
    }
  
    .modal__content {
      opacity: 0;
  
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -55%, 0);
      background-color: rgb(31, 31, 31);
      padding: 2.5rem;
      border-radius: .25rem;
      width: 90%;
      max-width: 40rem;
      margin: auto;
      color: #fff;
      font-size: 1.25rem;
  
      transition: transform, opacity;
      transition-timing-function: ease-out;
      transition-duration: .35s;
  
      .modal--close {
        position: absolute;
        top: -2.5rem;
        right: 0;
        opacity: 0;
      }
  
      p {
        &:not(:first-of-type) {
          margin-top: 2.25rem;
        }
  
        a {
          transition: all .25s ease;
        }
      }
  
      .modal__footer {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        padding-top: 1rem;
      }
    }
  
    &:target {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      visibility: visible;
      transition: opacity .25s ease, visibility .25s ease;
  
      .modal__content {
        transform: translate3d(-50%, -50%, 0);
        opacity: 1;
        transition: transform, opacity;
        transition-timing-function: ease-out;
        transition-duration: .35s;
        transition-delay: .125s;
  
        .modal--close {
          opacity: 1;
          transition: opacity .25s ease-out;
  
          &:hover {
            opacity: .5;
          }
        }
      }
    }
  }
  