@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  src: local('Spectral Regular'), local('Spectral-Regular'), url('https://fonts.gstatic.com/s/spectral/v5/rnCr-xNNww_2s0amA9M5kng.woff2') format('woff2');
}

@font-face {
  font-family: 'Morion';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Morion.eot');
  src: url('/assets/fonts/Morion.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Spectral', Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  overflow-x: hidden;

  @media (max-width: 700px) {
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  }

  @media (min-width: 1400px) {
    font-size: 20px;
  }

  @media (min-width: 2000px) {
    font-size: 30px;
  }

  @media (min-width: 2500px) {
    font-size: 35px;
  }

  @media (min-width: 3000px) {
    font-size: 40px;
  }

  @media (min-width: 3500px) {
    font-size: 45px;
  }
}

a {
  text-decoration: none;

  svg {
    margin-left: .25rem;
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25rem;
  }
}

img, video {
  max-width: 100%;
}

h1, h2 {
  font-family: 'Morion', 'Spectral', 'Georgia', serif;
  font-weight: 400;
}

blockquote {
  position: relative;
  display: flex;
  align-items: flex-start;
  max-width: 32.5rem;
  font-size: 1.25rem;

  &::before {
    content: '“';
    font-size: 5em;
    vertical-align: text-top;
    display: inline-block;
    padding-right: 1rem;
    margin-top: -2rem;
  }
}

.external-link {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-bottom: -.35rem;
  text-decoration: underline;
  transition: color .25s ease, background-color .25s ease;

  &:hover {
    color: #fff;
  }
}

.page__title {
  font-size: 4rem;
  line-height: 4rem;
}